<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SeedSwap", root_path, :id => "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
              <li><%= link_to "Home",  root_path %></li>
              <li><%= link_to "Users", users_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href ="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
           <% else %>
              <div class="span6 offset3" id="header-login">
                <%= form_for(:session, url: sessions_path) do |f| %>

                    <%= f.label :email %>
                    <%= f.text_field :email %>

                    <%= f.label :password %>
                    <%= f.password_field :password %>

                    <%= f.submit "Sign in", :class => "btn btn-small btn-primary" %>
                <% end %>
              </div>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>